.about-hero {
    background: var(--blue);
}

.about-hero-section {
    display: flex;
    margin-top: 60px;
    align-items: center;
}

.about-hero-section>* {
    flex: 1;
}

.about-hero-img img {
    width: 70%;
    aspect-ratio: 1;
    object-fit: cover;
}

.about-p {    
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    margin-bottom: 40px;
}

.about-hero-content {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.about-hero-content p:first-child {
    text-transform: uppercase;
}

@media screen and (max-width: 800px) {
    .about-hero-section {
        flex-direction: column;
        gap: 30px;
        text-align: center;
    }

    .about-hero-section {
        margin-top: 0px;
    }

    .about-hero-content {
        align-items: center;
    }
}