.projects .headline {
    flex-direction: column;
    gap: 20px;
}

.home-link {
    display: grid;
    place-content: center;
    margin-top: 40px;
}

.projects .headline .headline-subtitle h2 {
    width: 50%;
}

.project-card {
    margin-top: 50px;
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
}

.project-card .work-card {
    flex: 1;
    min-width: 40%;
}

.work-card {
    border-radius: clamp(8px, 3vw, 15px);
}

.project-card-hover {
    border: 1px solid rgba(128, 128, 128, 0.24);
    transition: all .3s ease;    
    border-radius: clamp(8px, 3vw, 15px);
}

.project-card-hover:hover {
    box-shadow: 0 0 15px rgba(128, 128, 128, 0.466);
}

.workcard-img img {
    width: 100%;
    border-top-right-radius: clamp(8px, 3vw, 15px);
    border-top-left-radius: clamp(8px, 3vw, 15px);
}

.work-card_content {
    /* background: red;     */
    border-bottom-right-radius: clamp(8px, 3vw, 15px);    
    border-bottom-left-radius: clamp(8px, 3vw, 15px);
    padding: 3%;
    border-top: none;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.work-card_content :is(h3, p, .work-icon) {
    color: var(--blue);
}

.work-icon:hover {
    color: var(--orange);
}

@media screen and (max-width: 650px) {
    .projects .headline .headline-subtitle h2 {
        width: 100%;
    }

    .work-card {
        flex-direction: column;
    }

    .project-card .work-card {
        min-width: 100%;
    }
}