.testimonial {
    display: flex;
    gap: 20px;
}

.testimonial>* {
    flex: 1;
}

.testimonial-content p {
    color: var(--blue);
}

.icon {
    color: var(--orange);
}

.testimonial-content {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.profile {
    display: flex;
    gap: 15px;
    align-items: center;
    margin-top: 10px;
}

.details {
    display: flex;
    flex-direction: column;
}

.details .p-small {
    color: #000000a1;
}

.profile-img {
    width: 60px;
    aspect-ratio: 1;
}

.profile-img img {
    width: 100%;
    border-radius: 55px;
}

.name {
    color:#170550;
    font-size: clamp(15px, 3vw, 18px);
    font-weight: 600;
}

.experience {
    display: flex;
    align-items: center;
    gap: 30px;
    justify-content: center;
}

.experience img {
    height: 40px;
    filter: grayscale(100%);
    cursor: pointer;
}

.experience img:hover {
    filter: grayscale(0)
}

@media screen and (max-width: 850px) {
    .testimonial {
        flex-direction: column;
        gap: 50px;
        margin-top: 30px;
    }
    
    .testimonial-content {
        order: 1;
    }

    .experience img {
        height: 25px;
    }

    .experience {
        flex-wrap: wrap;
    }

    .testimonial-content {
        justify-content: center;
        text-align: center;
        align-items: center;
    }
}